<!DOCTYPE html>
<html ng-app="App" ng-controller="ClientController">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="keywords" content="{{ngMeta.keywords}}" />
<meta name="author" content="{{ngMeta.author}}" />
<meta name="description" content="{{ngMeta.description}}" />
<title>{{header}}|{{ngMeta.title}}</title>
<link rel="shortcut icon" href="@Url.Content(" {{fevicon}} ")" />
<environment names="Development">
	<!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />-->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="~/css/site.css" />
    

</environment>
<environment names="Staging,Production">
	<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css" asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
		asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
	<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    
</environment>
    <base href="/">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="height: auto"> 
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Index"><img style="height: 50px;resize: both" src="{{logoImageUrl}}" alt="{{AppSetting.applicationName}}"></a>
            </div>
            @* Dynamic Menu Development  *@
            <div class="collapse navbar-collapse" style="padding-top: 20px ">
            <script type="text/ng-template" id="treeMenu">
            <a class="dropdown-toggle" data-toggle="dropdown" ng-click="redirect(menu.pageId,menu.pageViewName)" ng-href="{{(menu.pageViewName=='#') ? '':'Home/content/#/'+menu.pageViewName}}">{{menu.title}}
                <span class="caret" ng-if="(SiteMenu | filter:{parentId : menu.pageId}).length > 0"></span>
            </a>
            @* We will create submenu only when available *@
            <ul class="dropdown-menu" ng-if="(SiteMenu | filter:{parentId : menu.pageId}).length > 0">
                <li ng-repeat="menu in SiteMenu | filter:{parentId : menu.pageId} : true" ng-include="'treeMenu'"></li>
            </ul>
        </script>
        <ul class="nav navbar-nav">
            @* Here we will load only top level menu *@
            <li ng-repeat="menu in SiteMenu | filter:{parentId : 0} : true" ng-include="'treeMenu'"></li>
        </ul>
            </div>

        </div>
    </div>  
    <br/><br/>
    <div class="container body-content" ng-app="App">
         <div class="row">
        @RenderBody()
         </div>
    <hr />
    <div class="row">
    <footer class="footer" ng-bind-html="deliberatelyTrustDangerousSnippet()">
 </footer>
    </div>
<environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
	  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js"></script>
	 <script type="text/javascript" src="~/Client/ngMeta.min.js"></script>
     <script type="text/javascript" src="~/SharedFactory.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
       <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.2.0.js"></script>  
    
     <script type="text/javascript" src="~/Client/ApplicationSetting/ClientRoute.js"></script>
     <script type="text/javascript" src="~/Client/ApplicationSetting/ClientSettingService.js"></script>
     <script type="text/javascript" src="@Url.Content("~/Client/ApplicationSetting/ClientController.js")"></script>

     <script type="text/javascript" src="~/Client/PassengerList/PassengerTravelListService.js"></script>
     <script type="text/javascript" src="@Url.Content("~/Client/PassengerList/PassengerTravelListController.js")"></script> 

     <script type="text/javascript" src="~/Client/PassengerList/PassengerListService.js"></script>
     <script type="text/javascript" src="@Url.Content("~/Client/PassengerList/PassengerListController.js")"></script> 

    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.2.0.js"></script>-->
    </environment>
     @RenderSection("scripts", required: false)
</body>

</html>
 